language: php

php:
  - 7.1
  - 7.2
  - 7.3

before_script:
    - travis_retry composer self-update
    - travis_retry composer update --no-interaction --no-suggest --prefer-source

script: vendor/bin/phpunit --verbose --coverage-text
